In [ ]:
#QUESTION1
s=1
n=int(input("number of items"))
mylist =[]
for i in range(0,n):
  mylist.append(int(input("give me a number"))) 
print(mylist)
for i in mylist:
  s=s*i
print(s)

number of items4
give me a number5
give me a number1
give me a number3
give me a number2
[5, 1, 3, 2]
30

In [ ]:
#QUESTION2
l=[(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
def helloteam(x):
  return x[1]
l.sort(key=helloteam)
print(l)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [ ]:
#QUESTION3
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
d3={}
d3=d1
for i in d2.keys():
  if i in d3.keys():
    d3[i]=d3[i]+d2[i]
  else:
    d3[i]=d2[i]
print(d3)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

In [ ]:
#QUESTION4
n=int(input("choose a number"))
mydict={}
for i in range(1,n+1):
   mydict[i]=i*i 
print(mydict)

choose a number8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [ ]:
#QUESTION5
l=[('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
def mylist(x):
  return x[1]
l.sort(key=mylist,reverse=True)
print(l)

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]